<!DOCTYPE html>
		<html ng-app='secreto'>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
			<meta name="msapplication-tap-highlight" content="no" />
			<meta charset="utf-8" >
			<title>SECRETO</title>
			<script type="text/javascript" src="../js/jquery-2.0.0.min.js"></script>
			<script type="text/javascript" src="../js/angular.min.js"></script>
			<script type="text/javascript" src="../js/socket.io-1.3.7.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script type="text/javascript" src="../js/app_secretario.js"></script>
			<script type="text/javascript" src="../js/plugins.min.js"></script>
			<script type="text/javascript" src="../js/perfect-scrollbar.min.js"></script>
			<script type="text/javascript" src="../cordova.js"></script>
			<script type="text/javascript" src="../js/background-mode.js"></script>
			<script type="text/javascript">
			document.addEventListener('deviceready', function () {
			    // Android customization
			    cordova.plugins.backgroundMode.setDefaults({ text:'Doing heavy tasks.'});
			    // Enable background mode
			    cordova.plugins.backgroundMode.enable();

			    // Called when background mode has been activated
			    cordova.plugins.backgroundMode.onactivate = function () {
			        setTimeout(function () {
			            // Modify the currently displayed notification
			            cordova.plugins.backgroundMode.configure({
			                text:'Running in background for more than 5s now.'
			            });
			        }, 5000);
			    }
			}, false);
			</script>
			<link rel='shortcut icon' type='image/x-icon' href='images/logo.png') />
			<link rel='stylesheet' href='../css/materialize.css'/>
			<link rel='stylesheet' href='../css/materialize.min.css'/>
			<link rel='stylesheet' href='../css/perfect-scrollbar.css'/>
			<link rel='stylesheet' href='../css/style.min.css'/>
			<style type="text/css">
				html,body {
				    height: 100%;
				    width: 70%;
				}
				html {
				    display: table;
				    margin: auto;
				}
				body {
				    display: table-cell;
				    vertical-align: middle;
				}
				#header {
					position: absolute;
					top: 0;
					left: 0;
				}
			</style>
		</head>
		<body ng-controller='secretarioController'>
			<div id="loader-wrapper">
		        <div id="loader"></div>        
		        <div class="loader-section section-left"></div>
		        <div class="loader-section section-right"></div>
	    	</div>
			<!-- Menú y encabezado -->
			<header id="header" class="page-topbar">
        		<!-- start header nav-->
        		<div class="navbar-fixed">
            		<nav class="navbar-color">
                		<div class="nav-wrapper">
                    		<ul class="left">                      
                    			<li><a href="secretario.html" style="font-size: 1.5rem;margin-left:10px;"><i class='mdi-navigation-arrow-back'></i></a></li>
                      			<li><h1 class="logo-wrapper"><a href="secretario.html" class="brand-logo darken-1"><img src="../img/logo.png" alt=""></a> <span class="logo-text">SECRETO</span></h1></li>
                    		</ul>
	                	</div>
            		</nav>
        		</div>
        		<!-- end header nav-->
    		</header>
    <!-- END HEADER -->
    <br><br><br><br>
    <div class="container">
    	<div id="login-page" class="row">
	    	<div class="col s12 z-depth-4 card-panel">
	      		<form id="myForm" ng-submit="nuevoAcuerdo()">
	        		<div class="row">
	          			<div class="input-field col s12 center">
	            			<h4>Registrar</h4>
	            			<p class="center">Agrega nuevo acuerdo de junta</p>
	          			</div>
	        		</div>
	        		<div class="row margin">
	        			<p>Acuerdo: {{newClave}}</p>
	        		</div>
	        		<div class="row margin">
	        			<div class="col s12">
	        			<label for="clave">Lista de Juntas</label>
		            		<select class="browser-default" ng-model="acuerdoN.ACUCJU">
		            			<option ng-repeat='junta in juntas' value="{{junta._id}}">{{junta.JUTCVE}}</option>
		            		</select>
	          			</div>
	        		</div>
	        		<!--div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-content-sort prefix"></i>
	            			<input type="text" class="form-control" ng-model="acuerdoN.ACUCJU" required>
							<label for="clave">Clave</label>
	          			</div>
	        		</div-->
	        		<div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-content-sort prefix"></i>
	            			<input type="number" class="form-control" ng-model="acuerdoN.ACUCON" required>
							<label for="clave">Consecutivo</label>
	          			</div>
	        		</div>
	        		<!--div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-content-sort prefix"></i>
	            			<input type="number" class="form-control" ng-model="acuerdoN.ACUNAC" required>
							<label for="clave">Número de acuerdo</label>
	          			</div>
	        		</div-->
	        		<div class="form-group">
				                	<label class="col-sm-1 control-label">Directivo a cargo</label>
				                	<div class="col-sm-12">
				                  		<select class="browser-default" ng-model="acuerdoN.ACUCPE" required>
				                    		<option ng-repeat="d in directivos" value="{{d._id}}">{{d.nombreC}}</option>
				                  		</select>
				                	</div>
				             	</div>
				    <div class="form-group">
							    	<label for="ACUDES">Descripción</label>
							        <div class="col s12 m12 l12">
							        	<textarea class="form-control" id="ACUDES" class="validate" ng-model="acuerdoN.ACUDES" required></textarea>
							        </div>
						        </div>
					<!--div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-content-sort prefix"></i>
	            			<input type="number" class="form-control" ng-model="acuerdoN.ACUTIM" required>
							<label for="clave">Días</label>
	          			</div>
	        		</div-->
	        		<div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-action-today prefix"></i>
	            			<input type="text" class="datepicker" ng-model="acuerdoN.ACUTIM" required>
							<label for="clave">Fecha Limite</label>
	          			</div>
	        		</div>
	        		<div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-action-receipt prefix"></i>
	            			<input type="text" class="form-control" ng-model="acuerdoN.ACUENT" required>
							<label for="clave">Entregable</label>
	          			</div>
	        		</div>
	        		<div class="row margin">
	          			<div class="input-field col s12">
	            			<i class="mdi-editor-attach-money prefix"></i>
	            			<input type="number" class="form-control" ng-model="acuerdoN.ACUPRE" step='0.01' required>
							<label for="clave">Presupuesto</label>
	          			</div>
	        		</div>
	        		<div class="row">
	          			<div ng-if="juntas.length == 0" class="input-field col s12">
	          				<p class="margin center medium-small sign-up"> 
	          					No hay juntas para poder dar de alta un acuerdo
	          					<a href="nueva_junta.html?new=1"> Dar de alta una Junta</a>
	          				</p>
	          			</div>
	          			<div ng-if="juntas.length > 0" class="input-field col s12">
	          				<input type="submit" class="btn waves-effect waves-light col s12" value="Registrar">
	          			</div>
	          			<div class="input-field col s12">
	            			<p class="margin center medium-small sign-up"> <a href="secretario.html">Cancelar</a></p>
	          			</div>
	          			<div id="error"></div>
	          			<a href="acuerdos.html" class="wavs-effects wavs-green btn-flat"><i class="mdi-action-visibility"></i> Ver todos los Acuerdos</a>
	        		</div>
	      		</form>
	    	</div>
	  	</div>
    </div>
</body>
<script>
$('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        min:new Date(),
        firstDay: 1,
        format: 'dd/mm/yyyy',
        formatSubmit: 'dd/mm/yyyy'
    });
</script>
</html>		