<!DOCTYPE html>
		<html ng-app='secreto'>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
			<meta name="msapplication-tap-highlight" content="no" />
			<meta charset="utf-8" >
			<title>SECRETO</title>
			<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
			<script type="text/javascript" src="js/materialize.min.js"></script>
			<script type="text/javascript" src="js/angular.min.js"></script>
			<script type="text/javascript" src="js/routes.js"></script>
			<script type="text/javascript" src="js/plugins.min.js"></script>
			<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
			<!--<script type="text/javascript" src="cordova.js"></script>-->
			<script type="text/javascript" src="js/background-mode.js"></script>
			<script type="text/javascript">
			document.addEventListener('deviceready', function () {
			    // Android customization
			    cordova.plugins.backgroundMode.setDefaults({ text:'Doing heavy tasks.'});
			    // Enable background mode
			    cordova.plugins.backgroundMode.enable();

			    // Called when background mode has been activated
			    cordova.plugins.backgroundMode.onactivate = function () {
			        setTimeout(function () {
			            // Modify the currently displayed notification
			            cordova.plugins.backgroundMode.configure({
			                text:'Running in background for more than 5s now.'
			            });
			        }, 5000);
			    }
			}, false);
			</script>
			<link rel='shortcut icon' type='image/x-icon' href='images/logo.png') />
			<link rel='stylesheet' href='css/materialize.css'/>
			<link rel='stylesheet' href='css/materialize.min.css'/>
			<link rel='stylesheet' href='css/perfect-scrollbar.css'/>
			<link rel='stylesheet' href='css/style.min.css'/>
			<style type="text/css">
				html,body {
				    height: 100%;
				}
				
				html {
				    display: table;
				    margin: auto;
				}
				body {
				    display: table-cell;
				    vertical-align: middle;
				}
			</style>
		</head>
		<body class="cyan">
		  <!-- Start Page Loading -->
		  <div id="loader-wrapper">
		      <div id="loader"></div>        
		      <div class="loader-section section-left"></div>
		      <div class="loader-section section-right"></div>
		  </div>
		  <!-- End Page Loading -->
		  <div id="login-page" class="row" ng-controller='loginController'>
		  <div id="error"></div>
		    <div class="col s12 z-depth-4 card-panel">
		      <form class="login-form" ng-submit='login()'>
		        <div class="row">
		          <div class="input-field col s12 center">
		            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
		            <p class="center login-form-text">SECRETO</p>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="mdi-communication-vpn-key prefix"></i>
		            <input id="empresa" ng-model='datos.empresa' type="text" required>
		            <label for="empresa" class="center-align">Clave de la empresa</label>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="mdi-social-person-outline prefix"></i>
		            <input id="username" ng-model='datos.correo' type="text" required>
		            <label for="username" class="center-align">Correo</label>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="mdi-action-lock-outline prefix"></i>
		            <input id="password" ng-model='datos.clave' required type="password">
		            <label for="password">Clave</label>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s12">
		          	<input type="submit" value="Entrar" class="btn waves-effect waves-light col s12">
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s6 m6 l6">
		              <p class="margin right-align right medium-small"><a href="page-forgot-password.html">Olvide mi clave</a></p>
		          </div>          
		        </div>

		      </form>
		    </div>
		  </div>

		<!--<body>
			<div id="login" ng-controller='loginController'>
				<div id="centrar">
					<div class="row z-depth-1" style='border-top: 2px solid rgba(0, 0, 0, 0.16); padding-top: 10px;'>
						<div class="col s12 m12 l12 center-align">
							<h5><bold>SECRETO</bold></h5>	
						</div>
						<div class="col s12 m12 l12 center-align">
							<small>Sistema Empresarial de Control y Registro Electrónico para la Toma de desiciones Oportuna</small>
						</div>
						<div class="row"></div>
					</div>
					<div class="row"></div>
			  		<div class="row" >
			  			<div class="yellow lighten-4">Recuerda que si es la primera vez que ingresas al sistema tu clave es tu email</div>
			  			<div id="error"></div>
					    <form class="col s12" ng-submit='login()'>
					      <div class="row">
					        <div class="input-field col s12">
					          <i class="mdi-social-person-outline prefix"></i>
					          <input id="icon_prefix" type="email" class="validate" ng-model='datos.correo' required>
					          <label for="icon_prefix">Correo</label>
					        </div>
					        <div class="input-field col s12">
					          <i class="mdi-action-lock prefix"></i>
					          <input id="icon_telephone" type="password" class="validate" ng-model='datos.clave' required>
					          <label for="icon_telephone">Clave</label>
					        </div>
					        <div class="col s6 m6 l6 offset-s4 offset-m5 offset-l5">
					        	<input type="submit" value="Entrar" class="btn red">
					        </div>
					      </div>
					    </form>
					</div>
				</div>
			</div>-->
		</body>
		</html>		