<!DOCTYPE html>
		<html ng-app='secreto'>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
			<meta name="msapplication-tap-highlight" content="no" />
			<meta charset="utf-8" >
			<title>SECRETO</title>
			<script type="text/javascript" src="../js/jquery-2.0.0.min.js"></script>
			<script type="text/javascript" src="../js/angular.min.js"></script>
			<script type="text/javascript" src="../js/socket.io-1.3.7.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script type="text/javascript" src="../js/plugins.min.js"></script>
			<script type="text/javascript" src="../js/perfect-scrollbar.min.js"></script>
			<script type="text/javascript" src="../js/app_empleado.js"></script>
			<script type="text/javascript" src="../cordova.js"></script>
			<script type="text/javascript" src="../js/PushNotification.js"></script>
			<script type="text/javascript" src="../vibration.js"></script>
			<script type="text/javascript" src="../notification.js"></script>
			<script type="text/javascript" src="../js/background-mode.js"></script>
			<script type="text/javascript">
			document.addEventListener('deviceready', function () {
					/*var pushNotification = window.plugins.pushNotification;

					pushNotification.register(
					    successHandler, 
					    errorHandler, 
					    {
					        'senderID':'AIzaSyDygFc2MFOyCzldXMva-HhMZZQA9lW1-Yc',
					        'ecb':'onNotificationGCM' // callback function
					    }
					);*/
				    // Android customization
				    cordova.plugins.backgroundMode.setDefaults({ text:'Doing heavy tasks.'});
				    // Enable background mode
				    cordova.plugins.backgroundMode.enable();

				    // Called when background mode has been activated
				    cordova.plugins.backgroundMode.onactivate = function () {
				        setTimeout(function () {
				            // Modify the currently displayed notification
				            cordova.plugins.backgroundMode.configure({
				                text:'Running in background for more than 5s now.'
				            });
				        }, 5000);
				    }
				}, false);
				/*function successHandler(result) {
				    alert('Success: '+ result);
				}
				function errorHandler(error) {
				    alert('Error: '+ error);
				}
				function onNotificationGCM(e) {
				    switch( e.event )
			        {
			            case 'registered':
			                if ( e.regid.length > 0 )
			                {
			                    console.log("Regid " + e.regid);
			                    alert('registration id = '+e.regid);
			                }
			            break;
			 
			            case 'message':
			              // this is the actual push notification. its format depends on the data model from the push server
			              alert('message = '+e.message+' msgcnt = '+e.msgcnt);
			            break;
			 
			            case 'error':
			              alert('GCM error = '+e.msg);
			            break;
			 
			            default:
			              alert('An unknown GCM event has occurred');
			              break;
			        }
				}*/
			</script>
			<link rel='shortcut icon' type='image/x-icon' href='images/logo.png') />
			<link rel='stylesheet' href='../css/materialize.css'/>
			<link rel='stylesheet' href='../css/materialize.min.css'/>
			<link rel='stylesheet' href='../css/perfect-scrollbar.css'/>
			<link rel='stylesheet' href='../css/style.min.css'/>
		</head>
		<body ng-controller='empleadoController'>
			<div id="loader-wrapper">
		        <div id="loader"></div>
		        <div class="loader-section section-left"></div>
		        <div class="loader-section section-right"></div>
	    	</div>
			<!-- Menú y encabezado -->
			<header id="header" class="page-topbar">
        		<!-- start header nav-->
        		<div class="navbar-fixed">
            		<nav class="navbar-color">
                		<div class="nav-wrapper">
                    		<ul class="left">
                    			<li><a href="directivo.html" style="font-size: 1.5rem;margin-left:10px;"><i class='mdi-navigation-arrow-back'></i></a></li>
                      			<li><h1 class="logo-wrapper"><a href="empleado.html" class="brand-logo darken-1"><img src="../img/logo.png" alt=""></a> <span class="logo-text">SECRETO</span></h1></li>
                    		</ul>
	                	</div>
            		</nav>
        		</div>
        		<!-- end header nav-->
    		</header>
    <!-- END HEADER -->
    <div class="container">
      <div id="mensaje" style="margin-left:35%;margin-top:5%;"></div>
			<div class="card large">
	    		<div class="card-content">
	      			<span class="card-title grey-text text-darken-4">Actualizar información</span>
	      			<form class="form-horizontal" role="form" ng-submit="updateUsuario()">

            <div class="form-group">
							<label for="nombre">Nombre</label>
							<div class="col s12 m12 l12">
								<input id="nombre" type="text" class="validate" ng-model="usuario.nombreC" required>
							</div>
						</div>

            <div class="form-group">
              <label for="nombre">Clave</label>
            	  <div class="col s12 m12 l12">
            		  <input id="clave" type="text" class="validate" ng-model="usuario.clave" required>
            		</div>
            </div

						<div class="form-group">
							<label class="col-sm-1 control-label">Email</label>
						    <div class="col-sm-12">
								<input type="email" class="form-control" placeholder="Email" ng-model="usuario.email" required>
						    </div>
						</div>

						<div class="row"></div>
						<div class="form-group">
							<button type="submit" class="btn btn waves-effect waves-red right">Actualizar información</button>
						</div>
					</form>
	    		</div>
	  		</div>
      </div>
    </div>
</body>
</html>
